%footer.layout.span-24
  .companies
    .company.riot
      = image_tag 'logos/ongrey/riot.png'
      .details
        = 'El cosmonauta es un proyecto de <a href="http://www.riotcinema.com">Riot Cinema</a>'
    .company.vostok
      = image_tag 'logos/ongrey/vostok.png'
      .details
        = '<a href="http://www.vostok.es">Vostok</a> ha diseñado esta web y co-produce la película'

    .company.credits
      = image_tag "logos/credits.gif"
      .details
        = 'Colibrí por <a href="http://www.laszlo-kovacs.com">Laszlo Kovacs</a>'
        %br
        = 'Cosmonauta por <a href="http://www.jeremygeddesart.com">Jeremy Geddes</a>'

  .creativecommons
    = image_tag 'logos/ongrey/creativecommons.png'


